# Dependencies
node_modules

# Build output
dist

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
*.local
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
